@model PortalChamado.Models.ViewModels.UsuarioFormViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Usuario.IdUsuario" />
            <div class="form-group">
                <label asp-for="Usuario.Login" class="control-label"></label>
                <input asp-for="Usuario.Login" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Nome" class="control-label"></label>
                <input asp-for="Usuario.Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Usuario.Tipo" class="control-label"></label>
                <input asp-for="Usuario.Tipo" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Usuario.IdAcesso" class="control-label"></label>
                <select asp-for="Usuario.IdAcesso" asp-items="@(new SelectList(Model.Acessos, "IdAcesso","TipoAcesso"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>